<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Programmer Data</title>
</head>
<body>
     <h1> Programmer's Data </h1>
     
     <form action = "addProgrammer" method = "POST"> 
      
      <h3> Enter Programmer's name</h3>
      <input type = "text" name = "pName">
      
      <h3> Enter Programmer's Language</h3>
      <input type = "text" name = "pLang">
      
      <button type = "submit"> Add Programmer </button>
     </form>
</body>
</html>